/* ServiceList.css */

.container {
    max-width: 1200px;
  }
  
  .category-btn {
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .category-btn:hover {
    background-color: #007bff;
    color: white;
  }
  
  .service-card {
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  h2, h3 {
    font-family: 'Roboto', sans-serif;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: 700;
  }
  
  .card-text {
    font-size: 16px;
    color: #6c757d;
  }
  
  button {
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
  }
  
  .text-center {
    text-align: center;
  }
  
  /* src/styles/buttons.css */

.btn-custom-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
    font-weight: 500;
  }
  
  .btn-custom-primary:hover {
    background-color: #0056b3;
    border-color: #004494;
  }
  
  .btn-custom-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #ffffff;
    font-weight: 500;
  }
  
  .btn-custom-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }
  
  .btn-custom {
    padding: 0.75rem 1.25rem;
    border-radius: 0.375rem;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .btn-custom:focus, .btn-custom:active {
    outline: none;
    box-shadow: none;
  }
  
  .service-btn {
    border-radius: 12px;
    font-size: 1em;
    font-weight: 800;
    text-transform: uppercase;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    background-color: #361542 !important; 
    border: none !important;
    color: #ffffff !important;
  }
  
  .service-btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    background-color: #502d68 !important; 
    color: #ffffff !important;
  }
  